%h2 About
:markdown
	The Setup is a collection of nerdy interviews, asking people from all walks of life about the **software** and **hardware** they use.

	Despite appearances, the site is *not* actually sponsored by Apple - people just seem to like using their tools. We're a fan, too.

	Found a typo? Need to get in touch? Send an email to the letter d followed by the @ symbol, care of this domain.