%h2 Community
%p Some awesome people have taken the time to make localised Setup-style sites, picking the brains of the people around them. Others have written up personal interviews with themselves. They're all listed here.
%p
  Something missing?
  %a{:href => '/about#contact', :title => 'Send me your link!'}Let me know!

%h3 Localised
%ul
  %li
    %a{:href => 'http://www.admartinator.de/setup/', :title => "Visit 'Das Setup'."}Das Setup
    (German)
  %li
    %a{:href => 'http://mysetup.tumblr.com/', :title => "Visit 'My Setup'."}My Setup
    (Vietnamese)

%h3 Personal