%h2 Community
%p Some awesome people have taken the time to make localised Setup-style sites, picking the brains of the people around them. Others have written up personal interviews with themselves. They're all listed here.
%p
	Something missing?
	%a{:href => '/about#contact', :title => 'Send me your link!'}Let me know!

%h3 Localised
%ul
	%li
		%a{:href => 'http://www.admartinator.de/setup/', :title => "Visit 'Das Setup'."}Das Setup
		(German)
	%li
		%a{:href => 'http://copouziva.sk/', :title => "Visit 'Čo používa'."}Čo používa
		(Czech/Slovakian)
	%li
		%a{:href => 'http://digerati.ro/', :title => "Visit 'Digerati'."}Digerati
		(Romanian)
	%li
		%a{:href => 'http://hnsetups.com/', :title => "Visit 'HNSetups'."}HNSetups
		(Hacker News users)
	%li
		%a{:href => 'http://mysetup.tumblr.com/', :title => "Visit 'My Setup'."}My Setup
		(Vietnamese)
	%li
		%a{:href => 'http://singsot.com/', :title => "Visit 'Singsot'."}Singsot
		(Indonesian)
	%li
		%a{:href => 'http://www.inthelibrarywiththeleadpipe.org/2010/the-desk-setup/', :title => "Visit 'The Desk Setup'."}The Desk Setup
		(Library staff)
	%li
		%a{:href => 'http://mandroid.hu/', :title => "Visit 'The Setup (Hungarian)'."}The Setup
		(Hungarian)
	%li
		%a{:href => 'http://blog.mattgauger.com/thesetup/', :title => "Visit 'The Setup (Wisconsin)'."}The Setup
		(@ Wisconsin)
	%li
		%a{:href => 'http://utilise.ca/', :title => "Visit 'Utilise.ca'."}Utilise.ca
		(French-Canadian)

%h3 Personal
%ul
	%li
		%a{:href => 'http://serialscifi.com/aaron-pressman2.html', :title => 'View the interview with Aaron.'}Aaron Pressman
	%li
		%a{:href => 'http://www.thepleb.net/usesthis/', :title => 'View the interview with Allan.'}Allan M. Anderson
	%li
		%a{:href => 'http://teknostatik.co.uk/2010/07/18/my-first-stab-at-self-interview/', :title => 'View the interview with Andy.'}Andy Ferguson
	%li
		%a{:href => 'http://www.brendanrquinn.com/?p=125', :title => 'View the interview with Brendan.'}Brendan Quinn
	%li
		%a{:href => 'http://vargen.cc/index.php/info/', :title => "View the interview with Hermes."}Hermes J. Pappas
	%li
		%a{:href => 'http://www.6ixpassions.com/post/413664702/my-setup-what-i-use-to-get-the-job-done', :title => 'View the interview with Jean-Philippe.'}Jean-Philippe Cyr
	%li
		%a{:href => 'http://onethingwell.org/linux-setup', :title => 'View the interview with Jack.'}Jack Mottram
	%li
		%a{:href => 'http://jasonwryan.com/post/1240576133/setup', :title => 'View the interview with Jason.'}Jason Ryan
	%li
		%a{:href => 'http://blog.joshuanguyen.com/post/556716677/i-use-this', :title => 'View the interview with Josh.'}Josh Nguyen
	%li
		%a{:href => 'http://lachlansblog.squarespace.com/blog/2010/1/24/my-setup-inspired-by-usesthiscom.html', :title => 'View the interview with Lachlan.'}Lachlan Harman
	%li
		%a{:href => 'http://markbate.net/post/447119676/the-setup', :title => 'View the interview with Mark.'}Mark Bate
	%li
		%a{:href => 'http://eggfreckles.net/tech/my-setup/', :title => 'View the interview with Thomas.'}Thomas Brand
		
