- if @interviews && @interviews.length > 0
  %ul#interviews
    - @interviews.each do |interview|
      %li
        %a{:href => interview_url(interview), :title => "View an interview with #{interview.person}.", :class => 'interview'}>
          %img{:src => "/images/thumbnails/#{interview.slug}.jpg", :width => 500, :height => 100, :alt => interview.person, :class => 'thumbnail'}>
          = interview.person
        %br>
        %span.summary>= interview.summary