!!! Strict
%html{html_attrs}
  %head
    %title #{"#{@title} : " if @title}The Setup
    %link{:href => '/stylesheets/screen.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    - if has_auth?
      %link{:href => '/stylesheets/admin.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/stylesheets/mobile.css', :media => 'only screen and (max-device-width: 480px)', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/feed', :type => 'application/atom+xml', :rel => 'alternate', :title => 'Atom feed'}
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width'}
  %body
    %header
      %h1
        %a{:href => "http://usesthis.com/", :title => "This is The Setup, a bunch of nerdy interviews."} the setup
        is a bunch of nerdy interviews
      %p#tagline What do people use to get the job done?
    %section{:id => 'contents'}
      = yield
    %footer
      :markdown
        This is yet another [waferbaby](http://waferbaby.com/ "Some website.") snafu. Follow us [on Twitter](http://twitter.com/usesthis/ "Our Twitter account."), subscribe to [the feed](/feed/ "The Atom feed for the site."), or grab [the Ruby source code](http://github.com/waferbaby/usesthis/ "The source code for this site.") (if you're into that sort of thing).

        Unless otherwise noted, everything is available via the [Attribution-Share Alike](http://creativecommons.org/licenses/by-sa/2.5/au/ "A Creative Commons license.") license.
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-12646170-2");
    pageTracker._trackPageview();
    } catch(err) {}</script>