%form{:method => 'post', :action => '/wares/new', :class => 'editor ware'}
  - if @ware.errors.length > 0
    = errors_for(@ware)
  %p
    %label{:for => 'slug'} Slug:
    %input{:type => 'text', :name => 'slug', :value => @ware.slug ? @ware.slug : nil} 
  %p
    %label{:for => 'title'} Title:
    %input{:type => 'text', :name => 'title', :value => @ware.title ? @ware.title : nil} 
  %p
    %label{:for => 'description'} Description:
    %input{:type => 'text', :name => 'description', :value => @ware.description ? @ware.description : nil} 
  %p
    %label{:for => 'url'} URL:
    %input{:type => 'text', :name => 'url', :value => @ware.url ? @ware.url : nil}
  %p
    %input{:type => 'submit', :value => 'Add'}