.summary {
font-size: 80%;
}

a.interview {
font-size: 250%;
}

body {
padding: 30px;
}

footer p {
font-size: 90%;
}

h2, a.interview {
font-size: 220% !important;
}

h3 {
font-size: 200%;
padding: 0 0 10px;
}

img {
border: 0;
}

p#tagline {
font-size: 140%;
padding-bottom: 20px;
}

time {
font-size: 120%;
}