@font-face {
font-family: "droid sans";
src: url("/fonts/droid_sans.ttf");
}

.summary {
padding: 4px 0;
color: #555;
font-size: 95%;
}

a {
background-color: #ececec;
color: #666;
padding: 2px;
text-decoration: none;
}

a:hover {
color: #fe2e9a !important;
}

a:hover img {
opacity: 0.8;
}

body {
width: 502px;
padding: 50px 0;
background-color: #fff;
color: #000;
margin: auto;
text-align: left;
line-height: 25px;
font-family: "droid sans", helvetica, serif;
}

footer {
color: #999;
font-size: 80%;
}

footer p:first-child {
padding-top: 30px;
}

h1 {
padding: 0;
margin: 0;
color: #000;
font-size: 170%;
font-weight: normal;
}

h1 a {
background-color: transparent;
color: #fe2e9a;
}

h1 a:hover {
color: #000 !important;
}

h2 {
padding: 0;
margin: 20px 0 0 0;
font-size: 150%;
font-weight: normal;
}

h2 + p {
padding: 0;
margin: 0;
color: #555;
font-size: 110%;
}

h3 {
padding: 0 0 5px 0;
margin: 20px 0 5px 0;
color: #555;
font-size: 140%;
font-weight: normal;
border-bottom: solid 1px #ccc;
}

img {
border: solid 1px #000;
}

img.portrait + p {
padding: 0;
margin: 0;
font-size: 80%;
}

li {
padding: 8px 0;
}

ol, ul {
padding: 0 30px;
font-size: 90%;
}

p#admin {
font-size: 70%;
padding: 0 0 10px 0;
}

p#tagline {
padding: 5px 0;
margin: 0 0 10px;
color: #888;
font-size: 90%;
}

p.license {
font-size: 90%;
color: #444;
}

p.pagination {
text-align: center;
}

time {
font-size: 85%;
color: #aaa;
}

time:before {
content: "Published ";
}

ul#interviews {
list-style: none inside;
padding: 0;
margin: 0;
}

ul#interviews a {
background-color: transparent;
font-size: 150%;
color: #000;
}

ul#interviews a img {
margin-bottom: 5px;
}

ul#interviews span {
line-height: 5px;
}