@font-face {
font-family: "droid sans";
src: url("/fonts/droid_sans.ttf");
}

a:link, a:visited {
color: #fe2e9a;
text-decoration: none;
}

a:hover {
color: #fe2e9a !important;
text-decoration: underline;
}

a:hover time {
color: #fe2e9a;
}

a:hover img {
opacity: 0.9;
}

article.interview, article.overview {
margin-bottom: 10px;
}

article.interview a:link, article.interview a:visited {
color: #000;
}

article.interview.older {
font-size: 75%;
}

article.interview.latest {
font-size: 110%;
}

article.interview.older a {
display: block;
}

article.interview.recent {
font-size: 85%;
}

article.interview.recent + article.interview.older {
padding-top: 20px;
}

aside#sidebar {
float: right;
width: 130px;
padding-left: 10px;
font-size: 80%;
}

aside#sidebar a {
color: #000;
}

body {
width: 672px;
margin: 20px auto;
background-color: #fff;
color: #000;
text-align: left;
font-family: "droid sans", helvetica, serif;
font-size: 13px;
line-height: 20px;
}

footer {
clear: left;
font-size: 90%;
color: #aaa;
border-top: dotted 1px #999;
}

h1 {
float: left;
padding: 10px;
margin: 0 10px 0 0;
background-color: #000;
color: #fff;
font-size: 100%;
text-transform: uppercase;
border-left: solid 5px #fe2e9a;
}

h2 {
font-size: 150%;
padding: 10px 0 0 0;
margin: 0;
}

h3 {
color: #777;
padding: 5px 0;
margin: 0;
font-size: 120%;
border-bottom: dotted 1px #ddd;
}

img {
border: solid 1px #000;
}

img.fusionimg {
margin-bottom: 10px;
border: 0;
}

img.icon {
float: left;
margin: 0 10px 0 0;
}

nav ul {
list-style: none outside;
padding: 10px 0;
margin: 10px 0;
border-top: dotted 1px #999;
border-bottom: dotted 1px #999;
}

nav ul li {
display: inline;
font-size: 90%;
}

nav ul li:after {
content: " / ";
}

nav ul li a {
background-color: transparent !important;
}

p#tagline {
background-color: #eee;
padding: 10px;
margin: 0;
font-size: 85%;
}

p.summary {
padding: 0 0 10px 0;
margin: 0;
color: #777;
}

section {
width: 502px;
padding-right: 20px;
border-right: dotted 1px #999;
}

time {
float: right;
padding: 8px;
margin: 10px 0;
background-color: #eee;
color: #888;
text-transform: uppercase;
}