/* A font by Jos Buivenga (exljbris) -> http://www.exljbris.nl */

@font-face {
font-family: "museo sans 500";
src: url("/fonts/museo_sans_500.otf");
}

a {
color: #666;
text-decoration: none;
}

a:hover {
color: #fe2e9a !important;
}

a:hover img {
opacity: 0.8;
}

article.contents a, article.overview a {
padding: 2px;
background-color: #ececec;
}

article p {
line-height: 25px;
}

body {
width: 502px;
padding: 50px 0;
background-color: #fff;
color: #000;
margin: auto;
text-align: left;
font-family: "museo sans 500", helvetica, serif;
}

footer {
color: #999;
font-size: 80%;
}

h1 {
padding: 0;
margin: 0;
color: #000;
font-size: 170%;
font-weight: normal;
}

h1 a {
color: #fe2e9a;
}

h1 a:hover {
color: #000 !important;
}

h2 {
padding: 0;
margin: 20px 0 0 0;
font-size: 200%;
font-weight: normal;
}

h2 + p {
padding: 0;
margin: 0;
color: #555;
font-size: 110%;
}

h2.interview {
font-size: 150%;
}

h2.interview a {
color: #000;
}

h2.interview img {
margin-bottom: 5px;
}

h3 {
padding: 0 0 5px 0;
margin: 20px 0 5px 0;
color: #555;
font-size: 140%;
font-weight: normal;
border-bottom: solid 1px #ccc;
}

img {
border: solid 1px #000;
}

img.portrait + p {
padding: 0;
margin: 0;
font-size: 80%;
}

p#admin {
font-size: 70%;
padding: 0 0 10px 0;
}

p#tagline {
padding: 5px 0;
margin: 0 0 10px;
color: #888;
font-size: 90%;
}

p.license {
font-size: 90%;
color: #444;
}

p.summary {
padding: 4px 0;
color: #555;
font-size: 100%;
}

p.pagination {
text-align: center;
}

time {
font-size: 85%;
color: #aaa;
}

time:before {
content: "Published ";
}

ul {
padding: 0 30px;
font-size: 95%;
}

ul li {
padding: 8px 0;
}