%form{:method => 'post', :action => "/interviews/#{@interview.slug}/edit", :class => 'editor interview'}
  = haml :'interviews/form', :layout => false
  %p
    %input{:type => 'submit', :value => 'Update'}